@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #192a00;  
  --color-secondary: #0d3333;
  --color-base-200:#d4dacc;
  --color-base-300:#111c00;
  --color-accent: #556b33;
}


 .Cursive{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}